<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<%- include("../partials/Head.ejs")%>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				<%- include("../partials/mainmenu.ejs")%>
			</div>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>Projects</h1>
					<ul>
						<% projects.forEach(function(item){%>
						<li>
							<a href="proj1.html"><img src="<%=item.img%>" alt=""></a>
							<div>
								<h1><%=item.titel%> </h1>
								<p><%=item.desc%></p>
								<a href="/projects/<%=item.id%>" class="more">Read More</a>
							</div>
						</li>
						<%})%>
						
					</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
						<a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>